    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 15px;
    }
    body{
        background-color:  hsl(233, 47%, 7%);
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Lexend', sans-serif; */
    color: white;
    }
    .container{
        background-color: hsl(244, 38%, 16%);
        display: flex;
        width:fit-content;
        margin: auto;
        margin-top: 20rem;
    }
    
    .right{
        width: 50%;
        padding:60px;
    }
    .left{
        width: 50%;
        background:linear-gradient( 
            0deg,
            hsla(277, 86%, 17%, 0.633),
            hsla(277, 93%, 22%, 0.633)
            ),
            url(image-header-desktop.jpg) center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 7px 7px 0;
    }
    h1{
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
        word-spacing: 5px;
    }
    h2{
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
    }
    span{
        font-size: 2rem;
        color:  hsl(277, 64%, 61%);
    }
    p{
        font-family: 'Inter', sans-serif;
    }
    .small_text{
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
    }
    .small_text p{
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color:  hsla(0, 0%, 100%, 0.75);
    }
    .big_text p{
        line-height: 20px;
        margin: 40px;
        margin-left:0;
        color:  hsla(0, 0%, 100%, 0.75);
    }
    /* mobile responsive */
    @media screen and (max-width:375px) {
        .container{
            width: fit-content;
            flex-direction:column-reverse;
            justify-content: center;
            margin: 30px;
            
        }
        .right{
            width: auto;
            padding: 30px;
            text-align: center;
            height: 70vh;
            /* margin: 50px; */
        }
        .left{
            width:100%;
            height:30vh;
            margin: auto;
            border-radius: 7px 7px 0 0;
        }
        .big_text p{
            margin: 20px 0 0 0;
        }
        .small_text{
            display: inline-block;
            margin: 40px;
        }
        .small_text .companies, .small_text .templates{
            margin-bottom: 30px;
        }
        }